<div class="container-fruid">
  <table class="table table-striped">
    <p id="notice"><%= notice %></p>
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>日付</th>
      <th>進行状態</th>
      <th>優先度</th>
      <th colspan="3"></th>
    </tr>


    <tbody>
      <% @tasks.each do |task| %>
        <tr class= "tr_list">
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= task.deadline %></td>
          <td><%= task.status_i18n %></td>
          <td><%= task.priority_i18n %></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true"), class: 'btn btn-default' %>
<%= link_to "優先順位でソートする", tasks_path(sort_2: "true"), class: 'btn btn-default' %>


<div class="search_form">
  <%= form_with url:tasks_path,method: :get, local: true do |search| %>
    <div class="form-group">
      <%=search.label :タイトル %>
      <%= search.text_field :title,  class: "form-control" %>
    </div>
    <div class="form-group">
       <%=search.label :進行状況 %>
       <%=search.select :status,["","未着手","着手中","完了"], {id: "exampleFormControlSelect1"}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%=search.label :優先順位 %>
      <%=search.select :priority,["","高","中","低"],  {id: "exampleFormControlSelect2"}, {class: "form-control"}  %>
    </div>
    <%= search.submit "検索" %>
  <% end %>
</div>

<%= link_to '新しいタスクの作成', new_task_path , class: 'btn btn-default'%>

<%= paginate @tasks, theme: 'twitter-bootstrap-4' %>
